@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_AppLayout.cshtml";

    
    var containers = new List<string> { "Container 1", "Container 2", "Container 3", "Container 4", "Container 5", "Container 6", "Container 7" };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
       
        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr); 
            gap: 20px; 
            padding: 20px;
        }

        .container {
            background-color: #f9f9f9;
            border: 1px solid #ddd;
            padding: 20px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            text-align: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

            .container img {
                width: 100%; 
                max-width: 90%; 
                max-height: 50%; 
                object-fit: contain; 
                border-radius: 8px; 
                margin-top: 10px;
            }

            .container h3 {
                text-align: left;
            }
       
        @@media (max-width: 900px) {
            .grid-container {
                grid-template-columns: repeat(2, 1fr); 
            }
        }

        @@media (max-width: 600px) {
            .grid-container {
                grid-template-columns: 1fr; 
            }
        }

        .create {
            background-color: rgb(102,178,255);
            margin: 20px 20px 0px 20px;
            font-size: 20px;
            font-weight: bold;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 15px;
            display: block;
            width: fit-content;
        }

        .button-container {
            text-align: center;
            display: flex;
            justify-content: flex-end;
        }

            .button-container a {
                text-decoration: none;
                color: black;
                padding: 0px 3px;
            }
    </style>
</head>
<body>
    <div class="section">
        <div class="button-container">
            @if (ViewData["UserRole"]?.ToString() == "Coach/Trainer" || ViewData["UserRole"]?.ToString() == "Admin")
            {
                <a href="/App/CreateMeal" class="create">Create New Meal Plan</a>
            }
        </div>
        <div class="grid-container">
            @foreach (var container in containers)
            {
                <div class="container">
                    <h1>@container</h1>
                    <img src="https://static1.squarespace.com/static/52143a7ae4b0f9bd8308dc73/t/62863150a9e10f302da17e60/1652961616058/Mili+logo_no+back_SQ.png?format=1500w" alt="Workout image" />
                    <h3>Diet: </h3>
                    <h3>Plan: </h3>
                </div>
            }
        </div>
    </div>
</body>
</html>
